# **1. LOADING DATA**

In [640]:
#importing libraries
import pandas as pd
import numpy as np

# loading data to the enviroment
ecars_df=pd.read_csv('/content/Autolib_dataset (2).csv')

#**2. UNDERSTANDING DATA**

In [641]:
#previewing the data
ecars_df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [642]:
#getting information about the dataframe
ecars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [643]:
#checking number of rows and columns
ecars_df.shape

(5000, 25)

there are 5000 rows and 25 columns. all the the columns are in the data type expected to be in from the 'info' cell.

 # **3. DATA CLEANING**

### 3.1 *VALIDITY*

In [644]:
#Irrelevant Data Observation
# Dropping columns 'Displayed comment','Geo point','SchCharging Status','Subscription status','Rental status'eduled at','Slots','Charge Slots',Charging Status','Subscription status','Rental status'
#  We won't need them during Analysis. No question to be answered requires that column.
ecars_df.drop(['Displayed comment','Geo point','Scheduled at','Slots','Charge Slots','Charging Status','Subscription status','Rental status'], axis = 1, inplace = True)
ecars_df.head()

                              Address  Cars  Bluecar counter  ...  day  hour minute
0                 2 Avenue de Suffren     0                0  ...    8    11     43
1           145 Rue Raymond Losserand     6                6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17     23

[5 rows x 17 columns]

In [645]:
#checking number of rows and columns after dropping some columns
ecars_df.shape

(5000, 17)

### *3.2 ACCURACY*

In [646]:
#checking if bluecars is equal to cars 
#from the data description provided the two should be equal
ecars_df['Cars'].equals(ecars_df['Bluecar counter'])

True

### *3.3 COMPLETEESS*

In [647]:
#checking if there is any missing value across the columns
ecars_df.isnull().any()

Address               False
Cars                  False
Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
City                  False
ID                    False
Kind                  False
Postal code           False
Public name           False
Station type          False
Status                False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

there were no missing values in our data

### *3.4 CONSISTENCY*

In [648]:
#checking for duplicates by counting them
ecars_df.duplicated().sum()

0

also, there were no duplicates

### *3.5 UNIFORMITY*

In [649]:
#renaming columns for better understanding
ecars_df.rename(columns = {'Bluecar counter': 'bluecar', 'ID': 'station id','Utilib counter':'utilib','Utilib 1.4 counter':'utilib 1.4'}, inplace = True)
print(ecars_df.columns)

#replacing the space between word with (_)
ecars_df.columns=ecars_df.columns.str.replace(' ', '_')
ecars_df.head(3)

Index(['Address', 'Cars', 'bluecar', 'utilib', 'utilib 1.4', 'City',
       'station id', 'Kind', 'Postal code', 'Public name', 'Station type',
       'Status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

                            Address  Cars  bluecar  ...  day  hour minute
0               2 Avenue de Suffren     0        0  ...    8    11     43
1         145 Rue Raymond Losserand     6        6  ...    6     7     24
2  2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20     14

[3 rows x 17 columns]

In [650]:
#removing any  white spaces
ecars_df.columns=ecars_df.columns.str.strip()
ecars_df.head()

                              Address  Cars  bluecar  ...  day  hour minute
0                 2 Avenue de Suffren     0        0  ...    8    11     43
1           145 Rue Raymond Losserand     6        6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3        3  ...    8    17     23

[5 rows x 17 columns]

In [651]:
#changing column names to lower case
ecars_df.columns=ecars_df.columns.str.lower()
ecars_df.head()

                              address  cars  bluecar  ...  day  hour minute
0                 2 Avenue de Suffren     0        0  ...    8    11     43
1           145 Rue Raymond Losserand     6        6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3        3  ...    8    17     23

[5 rows x 17 columns]

the data is now has no white spaces and the columns are capitalized the same.

# 4. ANALYSIS



---

### *4.1 QUESTION 1*

Identifying the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [652]:
#selecting the city of Paris
paris_df=ecars_df.loc[ecars_df['city']=='Paris']
paris_df

                                 address  cars  bluecar  ...  day  hour minute
0                    2 Avenue de Suffren     0        0  ...    8    11     43
1              145 Rue Raymond Losserand     6        6  ...    6     7     24
3                 51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4     37
4     6 avenue de la Porte de Champerret     3        3  ...    8    17     23
5                   8 Boulevard Voltaire     0        0  ...    6     7      2
...                                  ...   ...      ...  ...  ...   ...    ...
4992                     3 avenue d'Ivry     0        0  ...    9    23      1
4994                    15 rue de Rocroy     0        0  ...    1    20     49
4996                   37 rue de Dantzig     4        4  ...    4    16     56
4997                      142 rue du Bac     1        1  ...    1     7      1
4999                 5 Rue Henry Brisson     4        4  ...    8    10      2

[2816 rows x 17 columns]

In [653]:
#sorting the data by station id, day, hour and  minute
df=paris_df.sort_values(['station_id','day','hour','minute'], ascending=True)
df.head(10)

                       address  cars  bluecar  utilib  ...  month day hour minute
710   8 Place du 25 AoÃ»t 1944     1        1       0  ...      4   1   18     40
1891  8 Place du 25 AoÃ»t 1944     4        4       0  ...      4   2    7     37
2312  8 Place du 25 AoÃ»t 1944     2        2       0  ...      4   2   12     49
911   8 Place du 25 AoÃ»t 1944     3        3       0  ...      4   4    3     10
4940  8 Place du 25 AoÃ»t 1944     1        1       0  ...      4   4   18     48
2306  8 Place du 25 AoÃ»t 1944     1        1       0  ...      4   7   21     18
2848  8 Place du 25 AoÃ»t 1944     0        0       0  ...      4   9    5     23
586   8 Place du 25 AoÃ»t 1944     1        1       0  ...      4   9   20     53
4459       6 place Adolphe Max     4        4       0  ...      4   2   11      1
294        6 place Adolphe Max     0        0       0  ...      4   7   16     47

[10 rows x 17 columns]

In [ ]:
#creating a new column of 'usage' by finding the difference of bluecar successive rows 
#this will be done across every station
df['usage'] = df.groupby('station_id')['bluecar'].diff()
df.tail(20)

+ve number means that a car was returned -ve number means that a car was picked 0 means that nothing happened, i.e no car was picked nor returned

In [655]:
#grouping by hour and finding the sum
df.groupby('hour')['usage'].agg(sum)

hour
0     -7.0
1    -24.0
2     22.0
3     22.0
4    -12.0
5     -3.0
6     22.0
7      2.0
8    -20.0
9     59.0
10   -13.0
11     4.0
12    48.0
13    -2.0
14     2.0
15   -19.0
16    -9.0
17   -22.0
18   -29.0
19    21.0
20   -33.0
21   -26.0
22   -18.0
23   -18.0
Name: usage, dtype: float64

the hour with the highest negative value is the hour most cars were picked which is 1800hrs basically this is 6.00pm 29 cars were picked across the stations

### *4.2 QUESTION 2*

most popular hour for returning cars

In [656]:
ecars_df.sort_values(['station_id','day','hour','minute'], ascending=True)
ecars_df.head()

                              address  cars  bluecar  ...  day  hour minute
0                 2 Avenue de Suffren     0        0  ...    8    11     43
1           145 Rue Raymond Losserand     6        6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3        3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3        3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3        3  ...    8    17     23

[5 rows x 17 columns]

In [657]:
ecars_df['usage'] = ecars_df.groupby('station_id')['bluecar'].diff()
ecars_df.head(10)

                              address  cars  bluecar  ...  hour  minute usage
0                 2 Avenue de Suffren     0        0  ...    11      43   NaN
1           145 Rue Raymond Losserand     6        6  ...     7      24   NaN
2    2 Avenue John Fitzgerald Kennedy     3        3  ...    20      14   NaN
3              51 Rue EugÃ¨ne OudinÃ©     3        3  ...     4      37   NaN
4  6 avenue de la Porte de Champerret     3        3  ...    17      23   NaN
5                8 Boulevard Voltaire     0        0  ...     7       2   NaN
6                      37 rue Leblanc     0        0  ...    18      20   NaN
7         17 Rue des Luaps ProlongÃ©e     3        3  ...    22      13   NaN
8               34 avenue Jean Moulin     1        1  ...    22      58   NaN
9        41 boulevard de Rochechouart     6        6  ...    15       2   NaN

[10 rows x 18 columns]

In [658]:
#grouping by hour and finding the sum
ecars_df.groupby('hour')['usage'].agg(sum)

hour
0     32.0
1     33.0
2     76.0
3     40.0
4     58.0
5     43.0
6     88.0
7     45.0
8     13.0
9    -17.0
10     4.0
11     4.0
12    33.0
13     2.0
14   -54.0
15   -13.0
16   -37.0
17   -68.0
18   -35.0
19   -59.0
20   -10.0
21   -37.0
22   -46.0
23   -25.0
Name: usage, dtype: float64

### *4.3 QUESTION 3*

overall, the most popular hour of returning cars is 0600hrs 6.00am. 
in the 9 days 88 cars were returned at 6.00am across all stations

The most popular station overall

In [659]:
#finding the most popular station using station id to check the number of times it appears in the dataframe
df_station=ecars_df.groupby('station_id')['station_id'].agg(sum).max()
df_station

'yerres-raymondpoincare-200'

In [660]:
ecars_df.loc[ecars_df['station_id']== 'yerres-raymondpoincare-200']

                        address  cars  bluecar  ...  hour  minute usage
4092  200 rue Raymond PoincarÃ©     2        2  ...    15      55   NaN

[1 rows x 18 columns]

the station by the public name Yerres/Raymond PoincarÃ©/200 is the most popular

### *4.4 QUESTION 4*

the most popular station At the most popular picking hour

In [661]:
#finding the most popular picking hour
#grouping by hour and finding the sum
ecars_df.groupby('hour')['usage'].agg(sum)

hour
0     32.0
1     33.0
2     76.0
3     40.0
4     58.0
5     43.0
6     88.0
7     45.0
8     13.0
9    -17.0
10     4.0
11     4.0
12    33.0
13     2.0
14   -54.0
15   -13.0
16   -37.0
17   -68.0
18   -35.0
19   -59.0
20   -10.0
21   -37.0
22   -46.0
23   -25.0
Name: usage, dtype: float64

1700hrs 5.00pm is the most popular picking hour

In [662]:
#finding the popular station at 1700hrs
dfs=ecars_df.loc[(ecars_df['hour'] == 17) & (ecars_df['status']=='ok') & (ecars_df['station_type']=='station')].groupby('station_id')['station_id'].count().sort_values(ascending = False).head(10)
dfs

station_id
villejuif-epidor-2                      2
creteil-generaldegaulle-70              2
paris-raymondpitet-7                    2
paris-bertinpoiree-14                   2
boulognebillancourt-sevres-80           2
boulognebillancourt-andremorizet-121    2
paris-duquesne-26                       2
paris-provence-35                       2
gennevilliers-louisroche-125            2
saintmaurice-montgolfier-parking        2
Name: station_id, dtype: int64

there are a few popular stations at 1700hrs

### *4.5 QUESTION 5*

what postal code is the most popular for picking up Blue cars? 


Does the most popular station belong to that postal code?

In [663]:
#finding the most popular postal code  for picking upbluecars 
ecars_df.groupby('postal_code')['usage'].agg(sum).sort_values(ascending = True).head(1)

postal_code
75009   -20.0
Name: usage, dtype: float64

most popular postalcode is 75009

In [664]:
#getting information of the postal code
dft=ecars_df.loc[(ecars_df['postal_code']==75009) & (ecars_df['station_type']== 'station')]
dft

                           address  cars  bluecar  ...  hour  minute usage
9     41 boulevard de Rochechouart     6        6  ...    15       2   NaN
33                6 rue de Londres     3        3  ...    10      28   NaN
77       31 Boulevard Rochechouart     2        2  ...     2      59   NaN
78           1 rue Jules LefÃ¨bvre     0        0  ...    11      42   NaN
98               56 Rue La Fayette     3        3  ...    12      19   NaN
...                            ...   ...      ...  ...   ...     ...   ...
4688            35 Rue de Provence     0        0  ...    17       8  -4.0
4764              7 rue La Fayette     0        0  ...    10      29   0.0
4962              6 rue Rochambeau     0        0  ...    14      53   0.0
4966  41 boulevard de Rochechouart     0        0  ...     4      40  -4.0
4970  41 boulevard de Rochechouart     0        0  ...     4      26   0.0

[100 rows x 18 columns]

paris-provence-35 one of the most popular stationat 5.00pm belong to the postal code.